
.chanpin{
  width: 100%;
  height: 22.6%;
  position: relative;
  font-size: 0.8rem;
  background: #fff;
}
.btn{
  width: 6.3%;
  height: 16.3%;
  position: absolute;
  left: 4%;
  top:52.7%;
}
.cangku{
  position: absolute;
  left: 15%;
  top:8%;
  background: #eb4d7e;
  border-radius: 3px;
  color: #fff;
}
.kuangjia{
  height: 63.3%;
  width: 85%;
  position: absolute;
  right: 0;
  top:29%;
  background: #f7f7f7;
}
.shangpin{
  display: inline-block;
  width:21.7% ;
  height:78.6%; 
  padding-left: 1.5%; 
  padding-top: 2.5%;
}
.jieshao{
  width: 69%;
  position: absolute;
  left: 28%;
  top:8%;
  font-size: 0.8rem;
}
.zengjian{
  width: 25%;
  height: 19%;
  position: absolute;
  left:28%;
  top:67%;
  font-size: 0.8rem;
}
.jia{
  width:24%;
  height:76.4%;
  display: inline-block;
  border: 1px solid #b3b0b0;
  text-align: center;
  background: #e3e3e3;
}
.shuliang{
  display: inline-block;
  width: 30%;
  height: 76.4%;
  border: 1px solid #b3b0b0;
  text-align: center;
  background: #fff;
}
.jian{
  display: inline-block;
  width: 24%;
  height: 76.4%;
  border: 1px solid #b3b0b0;
  text-align: center;
  background: #e3e3e3;
}
.jiage{
  position: absolute;
  right:5%;
  top:45.7%;
  font-size: 0.8rem; 
  color: #eb4d7e;
}
.shanchu{
  width: 4.7%;
  height:14.3% ;
  position: absolute;
  right: 5%;
  top:68%;
}
.xian{
  width: 80%;
  border-bottom: 0.5px solid #d2d2d2;
  position: absolute;
  right: 0;
  top: 0;
}
.jiezhang{
  width: 100%;
  height: 12.7%;
  background: #fff;
  position: relative;
  font-size: 0.8rem;
}
.heji{
  position: absolute;
  right: 5%;
  top:4%;
}
.heji p{
  display: inline-block;
}
.heji span{
  color: #eb4d7e;
}
.jiesuan{
  position: absolute;
  right: 5%;
  top:50%;
  background: #eb4d7e;
  border-radius: 3px;
  color:#fff;
}
/* 填充 */
.tian{
  width: 100%;
  height: 11%;
}
/* 底部 */
.dibu{
  width: 100%;
  height: 10.3%;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top:1px solid #d6d6d6; 
  font-size: 0.8rem;
}
.dibu li{
  flex-grow:1;
} 
.dibu img{
  width: 30%;
  height: 25%;
  margin: 0 auto;
  display: block;
  margin-top: 10%;
}
.dibu p{
  text-align: center;
  margin-top: 7%;
}
@media(max-width: 340px){
  .jia,.shuliang,.jian,.dibu,.cangku,.jiesuan,.jieshao.jiesuanhou{
    font-size: 0.5rem;
  }
  {
    font-size: 0.5rem;
  }
}
@media(min-width: 400px){
  .jia,.shuliang,.jian,.dibu,.cangku,.jiesuan,.jieshao,.jiesuanhou{
    font-size: 0.9rem;
  }
  .guonei1,.dingbu1{
    font-size: 0.95rem;
  }
}
@media(min-width: 600px){
  .jia,.shuliang,.jian,.dibu,.cangku,.jiesuan,.jieshao,.jiesuanhou{
    font-size: 1.2rem;
  }
  .guonei1,.dingbu1{
    font-size: 1.25rem;
  }
}




/* 结算后显示 */
/* .jiesuanhou{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.tanchukuang{
  width: 74%;
  height: 18%;
  position: absolute;
  left: 13%;
  top:41%;
  background: #fff;
  border-radius: 10px;
}
.tishi{
  display: block;
  width: 70%;
  margin:0 auto;
  text-align: center;
  margin-top: 5%;
}
.hengxian{
  width: 100%;
  border-bottom: 1px solid #c2c0c0;
  position: absolute;
  top:60%;
  left: 0;
}
.shuxian{
  height: 40%;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.5px solid #c2c0c0;
}
.denglu{
  width: 50%;
  height: 40%;
  position: absolute;
  left: 0;
  top:60%;
  text-align: center;
  color: #eb4d7e;
}
.zhuce{
  width: 50%;
  height: 40%;
  position: absolute;
  right: 0;
  top:60%;
  text-align: center;
}
 */